# Ignorar archivos
/nbproject/private/
/build/
/dist/
/database.properties

# Ignorar dependencias
*.jar

# Ignorar archivos de configuración del sistema
*.class
*.log
*.xml
.DS_Store
.idea/

# Archivos específicos de Windows
Thumbs.db
